h1 {
    text-align: center;
}

.popUpContentWrapper {
    position: fixed; 
    left: 50%;
    top: 30%;
    width: 70%;
}

.popUpContent{
    position: relative; 
    left: -50%; 
    margin: auto;
    border: 3px solid black;
    padding: 10px;
    background: rgba(255, 255, 255, 0.91);
    overflow-y: auto;
}

.popText {
    color: black;
    text-align: justify;
}

.btnWrapper button {
    width: 100%;
}

btnWrapper {
    text-align: center;
}
