.contWrapper{
    display: flex;
    align-content: space-around;
}

.rollBtnWrapper {
    align-content: center;
    display: inline;
    z-index: 999;
}

.rollExpression {
    right: 0;
    position: fixed;   
}

.rollInput{
    z-index: 999;
}
