<h2>Visão Geral</h2>
<div class="row">
  <!-- left column -->
  <div class="column">
    <!-- player pic frame -->
    <h3>Foto <button (click)="togglePhoto()">toggle</button></h3>
    <div *ngIf="showPhoto" class="picFrame"></div>

    <!-- mana, health, stamina bars -->
    <h4>Saúde</h4>
    <div class="container">
      <div class="box1">
        PV
        <BR>PM
        <BR>PR
      </div>
      <div class="box2">
        <div class="progressBarWrapper">
          <progress max="{{this.Player.player.maxHealth}}" value="{{this.Player.player.health}}"></progress>
          <progress max="{{this.Player.player.maxMana}}" value="{{this.Player.player.mana}}"></progress>
          <progress max="{{this.Player.player.maxSta}}" value="{{this.Player.player.sta}}"></progress>
        </div>
      </div>
      <div class="box3">
        <input [(ngModel)]="this.Player.player.health" type="number">/
        <input [(ngModel)]="this.Player.player.maxHealth" type="number">

        <BR><input [(ngModel)]="this.Player.player.mana" type="number">/
        <input [(ngModel)]="this.Player.player.maxMana" type="number">

        <BR><input [(ngModel)]="this.Player.player.sta" type="number">/
        <input [(ngModel)]="this.Player.player.maxSta" type="number">
      </div>
    </div>

    <!-- attributes -->
    <BR>
    <h3>Aptidões <button (click)="editAttributes()">Editar</button> <button (click)="addNewAttribute()">Nova</button></h3>

    <table class="d">
      <tr>
        <th>Nome</th>
        <th>Formula</th>
        <th>Teste</th>
      </tr>

      <tr *ngFor="let attribute of this.Player.player.attributes;  let i = index">
          
        <th>
        <div *ngIf="attributeEdit==false">{{attribute.name}}</div>
          <input *ngIf="attributeEdit==true" [(ngModel)]="attribute.name">
          <input *ngIf="attributeEdit==true" [(ngModel)]="attribute.formulaAlaias">
           <input *ngIf="attributeEdit==true" [(ngModel)]="attribute.value">
          <input *ngIf="attributeEdit==true" [(ngModel)]="attribute.valueAlaias">
        </th>

        <th>
          <input *ngIf="attributeEdit==true" [(ngModel)]="attribute.formula">
          <div *ngIf="attributeEdit==false">{{attribute.formula}}</div>

        </th>

        <th>
          <div *ngIf="attributeEdit==false">
              <button (click)="rollAttributeTest(i)">Rolar</button>
              =: {{attribute.rollResult}}
          </div>

          <div *ngIf="attributeEdit==true">
              <button (click)="delAttribute(i)">Del</button>
          </div>
         
        </th>
        
      </tr>
    </table>


  
    </div>

  </div>

  <!-- right column -->
  <div class="column">
    <h3>Status</h3>
    Vida:
    <BR> Resistência:
    <BR> Magia:
    <BR> Acerto:
    <BR> Evasão:
    <BR> Armadura:
    <BR> Dano:
    <BR>

    <!-- table of conditiosn -->
    <h3>Condições</h3>

    <!-- tables of xp -->
    <BR>
    <h3>Tabela de Experiência</h3>
    <div class="divTable blueTable">
      <div class="divTableBody">
        <div class="divTableRow">
          <div class="divTableCell"><b>Tipo</b></div>
          <div class="divTableCell"><b>Disponível</b></div>
          <div class="divTableCell"><b>Total</b></div>
        </div>
        <div class="divTableRow">
          <div class="divTableCell">Rank</div>
          <div class="divTableCell">1001</div>
          <div class="divTableCell">1002</div>
        </div>
        <div class="divTableRow">
          <div class="divTableCell">Reputação......</div>
          <div class="divTableCell">1003</div>
          <div class="divTableCell">1004</div>
        </div>
  
      </div>

    </div>
  </div>