<!-- map display -->
<div class="row">
  <h2>Mapa</h2>
  <div class="mapWrapper">
    <div class="column left">
      <div class="mapRow" *ngFor="let row of map; let i = index">
        <div class="col" *ngFor="let tile of row; let j = index">
          <div class="tileBlock" [ngClass]="{'selectedStyle': i===this.selectedTile.i && 
          j===this.selectedTile.j, 'blocked': tile.blocked == true}" (click)="selectTile(i,j)">
            <div *ngFor="let item of tile.inVision">
              {{item}}
            </div>
          </div>
        </div>
        <BR>
      </div>
    </div>
  </div>
  <div class="column right">
    <h2>Controles</h2>
    <button (click)="toggleServeMap()"> Host/Client</button>
    <app-map-host *ngIf="!serveMap"></app-map-host>
    
    <!--TODO update this to serveMap -->
    <app-map-client *ngIf="!serveMap"> </app-map-client>
  </div>
</div>