<h1>História de {{this.Player.player.name}}</h1>
<button (click)="newLore()">Nova</button>
<BR>
<BR>

<div class="loreWrapper" *ngFor="let text of this.Player.player.history;  let i = index">
  <div *ngIf="text.editable==false">
    <BR>
    <div class="textContent">
      {{text.content}}
    </div>
    <button class="editButton" (click)="editThis(i)">Editar</button>
    <BR>
    <BR>
  </div>

  <div *ngIf="text.editable==true">
    <textarea class="textInput" [(ngModel)]="text.content"></textarea>
    <BR>
    <button class="myButton" (click)="deleteLore(i)">Deletar</button>
    <button class="myButton" (click)="editThis(i)">Salvar</button>
    <BR>
    <BR>
  </div>
</div>
