.wrapper {
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    margin-top: 5%;
    border-bottom-style: dashed;
}

.loreWrapper {
    height: 50vh;
    overflow-y: scroll;
    overflow-x: hidden;
    border-bottom-style: solid;
}