<div class="header">
  <ul>
    <li><a [ngClass]="{'active': generalView}" (click)="toggleGeneralView()">Geral</a></li>
    <li><a [ngClass]="{'active': inventoryView}" (click)="toggleInventoryView()">Inventário</a></li>
    <li><a [ngClass]="{'active': combatView}" (click)="toggleCombatView()">Combate</a></li>
    <li><a [ngClass]="{'active': loreView}" (click)="toggleLoreView()">História</a></li>
    <li><a [ngClass]="{'active': mapView}" (click)="toggleMapView()">Mapa</a></li>
    <li><a [ngClass]="{'active': settingsView}" (click)="toggleSettingView()">Configurações</a></li>

    <li style="float:right"><a class="active">RPG System {{version}}</a></li>
  </ul>
</div>

<div class="popupWrapper">
  <app-popup-view></app-popup-view>
</div>

<div class="componentWrapper">
  <div class="content">
    <app-player-view *ngIf="generalView"></app-player-view>
    <app-player-inventory *ngIf="inventoryView"></app-player-inventory>
    <app-player-combat *ngIf="combatView"></app-player-combat>
    <app-player-lore *ngIf="loreView"></app-player-lore>
    <app-map-view *ngIf="mapView"></app-map-view>
    <app-settings-view *ngIf="settingsView"></app-settings-view>
  </div>
</div>  

<div class="footer">
    <app-dice-roll></app-dice-roll>
</div>
