<h2>Combate</h2>

<div class="status">
    PV
    <input [(ngModel)]="this.Player.player.health" type="number">/
    <input [(ngModel)]="this.Player.player.maxHealth" type="number">

    <BR>PM
    <input [(ngModel)]="this.Player.player.mana" type="number">/
    <input [(ngModel)]="this.Player.player.maxMana" type="number">

    <BR>PR
    <input [(ngModel)]="this.Player.player.sta" type="number">/
    <input [(ngModel)]="this.Player.player.maxSta" type="number">
</div>

Ações de combate:
<button (click)="addSkill()">Nova</button>

<div class="skillCard" *ngFor="let skill of this.Player.player.skills;  let i = index">
    <!-- combat info and usage -->
    <div class="skillDisplayMode" *ngIf="skill.editable == false">
        {{skill.name}} |
        [{{skill.formula}}]
        = [{{skill.rollResult}}] 

        <p *ngIf="skill.hpCost != 0">-{{skill.hpCost}} PV</p>
        <p *ngIf="skill.spCost != 0">-{{skill.spCost}} PM</p>
        <p *ngIf="skill.staCost != 0">-{{skill.staCost}} PR</p>
        <button (click)="rollSkillFormula(i)">Rolar</button>
        <button (click)="editSkill(i)">Editar</button>
    </div>

    <!-- combat action edit mode -->
    <div class="skillEditMode" *ngIf="skill.editable == true">
        <input [(ngModel)]="skill.name">
        <input [(ngModel)]="skill.formula"><BR>
        -<input [(ngModel)]="skill.hpCost"> PV<BR>
        -<input [(ngModel)]="skill.spCost"> PM<BR>
        -<input [(ngModel)]="skill.staCost"> PR <BR>
        <input [(ngModel)]="skill.formulaAlaias"> Alaias <BR>

        <button (click)="saveSkill(i)">Salvar</button>
        <button (click)="deleteSkill(i)">Deletar</button>
    </div>
</div>
